<br>
<div class="row">
    <div class="col-auto float-left">
        <h1>Dívidas</h1>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-auto float-left">
        <a href="/cadastroDivida" class="btn btn-outline-dark float-right"><i class="bi bi-plus-square"></i> Nova dívida</a>
    </div>
    <div class="col-auto float-right ms-auto">
        <a href="/" class="btn btn-success float-right">Voltar</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Devedor</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Credor</th>
                    <th scope="col">Quando fez</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if(dividas.length > 0) { %>
                    <% for(let divida of dividas) { %>
                        <tr>
                            <th scope="row">
                                <%= divida.number %>
                            </th>
                            <td>
                                R$
                                <%= divida.balance %>.00
                            </td>
                            <td>
                                <%= divida.customer %>
                            </td>
                            <!-- <td><%= bankAccount.address %></td> -->
                            <td>
                                <a href="/viewBankAccount/<%= bankAccount._id %>" class="btn btn-sm btn-warning"><i class="bi bi-arrows-fullscreen"></i></a>
                                <a href="/deleteBankAccount/<%= bankAccount._id %>" class="btn btn-sm btn-warning"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td>Nenhuma dívida encontrada</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>